# Database
DATABASE_URL="postgresql://usuario:senha@localhost:5432/crcfarois"

# NextAuth
NEXTAUTH_SECRET="cole_aqui_uma_chave_secreta_gerada_com_openssl_rand_base64_32"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary - Upload de Imagens
CLOUDINARY_CLOUD_NAME="seu_cloud_name"
CLOUDINARY_API_KEY="sua_api_key"
CLOUDINARY_API_SECRET="seu_api_secret"

# Brevo - Envio de Emails (opcional)
BREVO_API_KEY="sua_api_key_do_brevo"
ADMIN_EMAIL="admin@crcfarois.ind.br"

# Outras configuracoes
NODE_ENV="development"
